/*
 * Nextflow config for valinor-cellranger
 */

nextflow.enable.dsl = 2

params {
    pool_dir            = null
    feature_reference   = null
    gex_reference_url   = 'https://cf.10xgenomics.com/supp/cell-exp/refdata-gex-GRCh38-2024-A.tar.gz'
    create_bam          = false
    cpus                = 30
    memory_gb           = 200
    disk_gb             = 2000
    input_dir           = null
    outdir              = 'results'
}

process {
    cpus   = 4
    memory = '16 GB'
}

docker {
    enabled = true
}

singularity {
    enabled = false
}

manifest {
    name            = 'valinor-cellranger'
    author          = 'Andrea De Micheli'
    description     = 'Run cellranger multi (GEX + CITE-seq + HTO demux) on AWS Batch via Cirro, batched across pools from a samplesheet'
    version         = '0.2.0'
    nextflowVersion = '>=22.10.0'
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
}
