/*
 * Nextflow config for EGA Download pipeline
 */

nextflow.enable.dsl = 2

params {
    credentials_file = null
    accession_list_file = null
    connections = 5
    max_file_size = 500
    outdir = "results"
}

process {
    container = "quay.io/biocontainers/pyega3:5.2.0--pyhdfd78af_0"

    cpus = 2
    memory = '4 GB'
}

docker {
    enabled = true
}

singularity {
    enabled = false
}

manifest {
    name = 'ega-download'
    author = 'Cirro Custom Pipelines'
    description = 'Download EGA data using pyega3 with username/password authentication'
    version = '1.0.0'
    nextflowVersion = '>=22.10.0'
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}
