/*
 * Nextflow config for valinor-cellranger-solo
 */

nextflow.enable.dsl = 2

params {
    input_dir           = null
    outdir              = 'results'
    gex_reference_url   = 'https://cf.10xgenomics.com/supp/cell-exp/refdata-gex-GRCh38-2024-A.tar.gz'
    libraries_sheet     = null
    create_bam          = false
    cpus                = 30
    memory_gb           = 200
    disk_gb             = 2000
}

process {
    cpus   = 4
    memory = '16 GB'
}

docker {
    enabled = true
}

singularity {
    enabled = false
}

manifest {
    name            = 'valinor-cellranger-solo'
    author          = 'Andrea De Micheli'
    description     = 'Run cellranger count (GEX-only, non-multiplexed) on AWS Batch via Cirro, with filename-based sample auto-detection'
    version         = '0.1.0'
    nextflowVersion = '>=22.10.0'
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
}
