/*
 * Nextflow config for BAM-to-FASTQ-cellranger
 */

nextflow.enable.dsl = 2

params {
    input_dir       = null
    outdir          = "results"
    threads         = 8
    reads_per_fastq = 50000000
    flatten         = false
    memory_gb       = 16
    disk_gb         = 1000
}

process {
    container = "quay.io/biocontainers/10x_bamtofastq:1.4.1--h3ab6199_4"
    cpus      = 4
    memory    = '16 GB'
}

docker {
    enabled = true
}

singularity {
    enabled = false
}

manifest {
    name            = 'bam-to-fastq-cellranger'
    author          = 'Andrea De Micheli'
    description     = 'Convert 10x Cell Ranger BAMs back to FASTQ using 10x bamtofastq, with multi-dataset input and optional flat output layout.'
    version         = '0.1.0'
    nextflowVersion = '>=22.10.0'
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
}
